 
:root {
    --bs-primary: #2196F3;
    --bs-secondary: #667eea;
}

/*html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(135deg, #2c2f48 0%, #1a1c2c 100%);
}*/

.gradient-bg {
    background: linear-gradient(45deg, #2196F3, #21CBF3);
}

.service-card-selected {
    border: 3px solid var(--bs-primary) !important;
    box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25) !important;
}
