@page "/logout"
@inject NavigationManager Nav

<PageTitle>Loggar ut...</PageTitle>

<div class="container" style="max-width: 400px; margin-top: 80px;">
    <EditForm Model="this" OnValidSubmit="HandleLogout" FormName="logoutForm">
        <p>Vill du logga ut?</p>
        <button type="submit" class="btn btn-secondary">Logga ut</button>
    </EditForm>
</div>

@code {
    //need to remove the cookie.
    [CascadingParameter]
    public HttpContext HttpContext { get; set; } = default!;

    private async Task HandleLogout()
    {
        // Removes the authentication cookie -> user is logged out.
        await HttpContext.SignOutAsync(CookieAuthenticationDefaults.AuthenticationScheme);
        Nav.NavigateTo("/login");
    }
}